/* 크로퍼 라이브러리 커스텀 CSS */

.crop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reactEasyCrop_Container {
  max-width: 480px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
