/* Work Sans; 숫자 폰트 */
@font-face {
  font-family: "Work Sans";
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQBi8Jpo3ZKyHaQQ.woff2)
    format("woff2");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Work Sans";
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXBi8Jpo3ZKyHaQQ.woff2)
    format("woff2");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Work Sans";
  src: url(https://fonts.gstatic.com/s/worksans/v19/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jpo3ZKyHaQQ.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0030-0039;
}

:root {
  font-family:
    "Work Sans",
    "SUIT Variable",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  touch-action: pan-y;
  overscroll-behavior: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
