@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .text-h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .text-h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .text-b1-strong {
    font-size: 16px;
    line-height: 22px;
  }
  .text-b1-compact {
    font-size: 16px;
    line-height: 22px;
  }
  .text-b1-long {
    font-size: 16px;
    line-height: 24px;
  }
  .text-b2-strong {
    font-size: 14px;
    line-height: 20px;
  }
  .text-b2-compact {
    font-size: 14px;
    line-height: 20px;
  }
  .text-b2-long {
    font-size: 14px;
    line-height: 22px;
  }
  .text-cap-strong {
    font-size: 12px;
    line-height: 18px;
  }
  .text-cap-compact {
    font-size: 12px;
    line-height: 20px;
  }
  .text-cap-long {
    font-size: 12px;
    line-height: 20px;
  }

  /* Image */
  .img-xs {
    width: 152px;
    height: 152px;
    @apply rounded;
  }
  .image-sm {
    width: 200px;
    height: 200px;
    @apply rounded-md;
  }
  .image-md {
    width: 240px;
    height: 240px;
    @apply rounded-lg;
  }
  .image-lg {
    width: 284px;
    height: 284px;
    @apply rounded-lg;
  }
  .image-xl {
    width: 320px;
    height: 320px;
    @apply rounded-lg;
  }
}
