.swiper-container {
  .swiper-pagination .swiper-pagination-hidden {
    opacity: 0;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(1);
    position: relative;
    opacity: 0;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1);
    opacity: 1;
    background-color: #838b98;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
    opacity: 1;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(1);
    opacity: 1;
  }

  .swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.666);
    opacity: 1;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(1);
    opacity: 1;
  }

  .swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet-active-next-next {
    transform: scale(0.666);
    opacity: 1;
  }

  .swiper-pagination-bullet {
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
  }

  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }

  .swiper-pagination-bullet:only-child {
    display: none !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #000;
  }

  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
  }

  .swiper-container-vertical
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
  }

  .swiper-container-vertical
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
  }

  .swiper-container-vertical
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    display: inline-block;
    transition:
      0.2s transform,
      0.2s top;
  }

  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 4px;
  }

  .swiper-container-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .swiper-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    transition:
      0.2s transform,
      0.2s left;
  }

  .swiper-container-horizontal.swiper-container-rtl
    > .swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    transition:
      0.2s transform,
      0.2s right;
  }

  .swiper-pagination {
    display: flex;
    position: relative;
    text-align: center;
    margin-top: 20px;

    &.swiper-pagination-bullets {
      height: auto;
      justify-content: center;
      z-index: 10;
    }

    &.swiper-pagination-bullets-dynamic {
      display: block;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  .swiper-pagination-bullet {
    flex-shrink: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background-color: #d3d6da;
    border-radius: 100%;
    box-sizing: border-box;
    vertical-align: middle;
  }
}
