.main-swiper {
  .swiper {
    padding-bottom: 20px;
    margin-bottom: -20px;
    cursor: grab;
  }

  .swiper:active {
    cursor: grabbing;
  }

  .swiper-wrapper {
    margin-left: -8px;
    gap: 8px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -16px;
    position: relative;
  }
}
