.swiper {
  padding-bottom: 20px;
  margin-bottom: -20px;
  cursor: grab;
}

.swiper:active {
  cursor: grabbing;
}

#card-swiper .swiper-horizontal > #card-swiper .swiper-pagination-bullets,
#card-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -16px;
  position: relative;
}
