#onboarding-swiper {
  .swiper-pagination {
    position: relative;
    margin-top: -174px;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    margin-top: 30px;
    background-color: rgba(211, 214, 218, 1);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(131, 139, 152, 1);
  }
}
